<style>
  .field, .cancel_account, .btn {
    margin-top: 1em;
    margin-left: 1.5em;
  }
  
  .form-control {
    width: 70%;
  }
</style>

<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Edit <%= resource_name.to_s.humanize %></h3>
  </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource