<h3>The list of my favorites cryptocurrencies: </h3>

<% @coins %>

<% for x in @coins %>
    <% for coin in @coins_arr %>
        <% if coin == x["symbol"] %>
            <p>Rank: <%= x["rank"] %></p>
            <p><%= x["name"] %>: $<%= x["price_usd"] %></p>
        <% end %>
    <% end %>
<% end %>

<br />
