<h1>Listing Cryptos</h1>
<br />
<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>

      <th>Name</th>
      <th>Current Price</th>
      <th>1h Change</th>
      <th>24h Change</th>
      <th>7 Days Change</th>
      <th>Current Value</th>
      <th>Total Paid</th>
      <th>Profit</th>
      <th>Cost Payed Per</th>
      <th>Amount Owned</th>
    </tr>
  </thead>

  <tbody>
    <% @cryptos.each do |crypto| %>
  