<!-- <p id="notice"><%= notice %></p> -->


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add a new cryptocurrency</h3>
  </div>
  
  <div class="panel-body">
    <p>
      <h3><%= @crypto.symbol %>()</h3>
    </p>
    
    <p>
      